################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlowTrainMachineLearningAPI/.vs/SlowTrainMachineLearningAPI
/SlowTrainMachineLearningAPI/bin
/SlowTrainMachineLearningAPI/obj
/adaptive-deep-learning-model/bin
/adaptive-deep-learning-model/obj
/Application/obj
/BuildingBlocks/obj
/Domain/obj
/Infrastructure/obj
/Application/bin
/BuildingBlocks/bin
/Domain/bin
/Infrastructure/bin
/fuzzy-logic-model-generator/bin
/fuzzy-logic-model-generator/obj
/SlowTrainMachineLearningAPI/.vs/DataStreamTrainMachineLearningAPI/CopilotIndices/17.12.68.61481
/SlowTrainMachineLearningAPI/.vs/DataStreamTrainMachineLearningAPI/FileContentIndex/85d3f9e7-0702-42b4-ad82-c34ce4b6e476.vsidx
/SlowTrainMachineLearningAPI/.vs/DataStreamTrainMachineLearningAPI/FileContentIndex
/Infrastructure.NHibernate/obj
/Infrastructure.NHibernate.Migrations/obj
/Infrastructure.QuestDB/obj
