################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlowTrainMachineLearningAPI/.vs/SlowTrainMachineLearningAPI
/SlowTrainMachineLearningAPI/bin
/SlowTrainMachineLearningAPI/obj
