################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlowTrainMachineLearningAPI/.vs/SlowTrainMachineLearningAPI
/SlowTrainMachineLearningAPI/bin
/SlowTrainMachineLearningAPI/obj
/adaptive-deep-learning-model/bin
/adaptive-deep-learning-model/obj
/Application/obj
/BuildingBlocks/obj
/Domain/obj
/Infrastructure/obj
